apiVersion: v1
kind: Secret
metadata:
  name: {{ cert_name }}
  labels:
    app: koji-hub
data:
  {{ cert_key_name }}: {{ cert_data | b64encode }}
{% if pk_key_name is defined %}
  {{ pk_key_name }}: {{ key_data | b64encode }}
{% endif %}
{% if ca_name is defined %}
  {{ ca_name }}: {{ ca_data | b64encode }}
{% endif %}
