apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: "{{ koji_hub_route_name }}"
  labels:
    app: koji-hub
    service: koji-hub
spec:
  to:
    kind: Service
    name: "{{ koji_hub_route_svc }}"
    weight: 100
  port:
    targetPort: https
  tls:
    termination: passthrough
    insecureEdgeTerminationPolicy: None
  wildcardPolicy: None