apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ pvc_name }}
  labels:
    app: koji-hub
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ pvc_size }}
