---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ koji_builder_pvc_name }}
  labels:
    app: koji-builder
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ koji_builder_pvc_size }}
  selector:
    matchLabels:
      app: "koji-builder"
